<form [formGroup]="form">
    <div formGroupName="checkable">
        <sl-checkbox formControlName="checkbox">Checkbox</sl-checkbox>
        <sl-checkbox formControlName="checkboxValue" value="checkbox-value">
            Checkbox Value
        </sl-checkbox>

        <br />

        <sl-switch formControlName="switch"></sl-switch>
        <sl-switch
            formControlName="switchValue"
            value="switch-value"
        ></sl-switch>
    </div>

    <sl-color-picker formControlName="colorPicker"></sl-color-picker>

    <div formGroupName="input">
        <sl-input formControlName="input"></sl-input>
        <sl-textarea formControlName="textarea"></sl-textarea>
    </div>

    <div formGroupName="number">
        <sl-input type="number" formControlName="input"></sl-input>
        <sl-range formControlName="range"></sl-range>
        <sl-rating formControlName="rating"></sl-rating>
    </div>

    <sl-radio-group formControlName="radio">
        <sl-radio value="1">Option 1</sl-radio>
        <sl-radio value="2">Option 2</sl-radio>
        <sl-radio value="3">Option 3</sl-radio>
    </sl-radio-group>

    <sl-radio-group formControlName="radioButton">
        <sl-radio-button value="1"> Option 1 </sl-radio-button>
        <sl-radio-button value="2"> Option 2 </sl-radio-button>
        <sl-radio-button value="3"> Option 3 </sl-radio-button>
    </sl-radio-group>

    <sl-select formControlName="select">
        <sl-menu-item value="option-1">Option 1</sl-menu-item>
        <sl-menu-item value="option-2">Option 2</sl-menu-item>
        <sl-menu-item value="option-3">Option 3</sl-menu-item>
    </sl-select>

    <sl-select multiple formControlName="multiselect">
        <sl-menu-item value="option-1">Option 1</sl-menu-item>
        <sl-menu-item value="option-2">Option 2</sl-menu-item>
        <sl-menu-item value="option-3">Option 3</sl-menu-item>
    </sl-select>
</form>
