<sl-form [data]="form" (submit)="logFormData()">
    <sl-input name="inputByFormData"></sl-input>
    <br />
    <sl-input name="inputBySlValue" value="Sl text"> </sl-input>
    <br />
    <sl-select name="select">
        <sl-menu-item value="option-1">Option 1</sl-menu-item>
        <sl-menu-item value="option-2">Option 2</sl-menu-item>
        <sl-menu-item value="option-3">Option 3</sl-menu-item>
    </sl-select>
    <br />
    <sl-button submit>Submit</sl-button>
</sl-form>

<button id="patch" (click)="patchForm()">Patch value</button>
<button id="submit" (click)="emitSubmit()">Emit submit</button>
