<sl-form [data]="simplyForm" (submit)="logFormData($event)">
    <sl-input name="input"></sl-input>
    <br />
    <sl-select name="select">
        <sl-menu-item value="option-1">Option 1</sl-menu-item>
        <sl-menu-item value="option-2">Option 2</sl-menu-item>
        <sl-menu-item value="option-3">Option 3</sl-menu-item>
    </sl-select>
    <br />
    <sl-radio name="radio" value="option-1">Option 1</sl-radio>
    <sl-radio name="radio" value="option-2">Option 2</sl-radio>
    <sl-radio name="radio" value="option-3">Option 3</sl-radio>
    <br />
    <input name="native" />
    <br />
    <button type="submit" id="simply">Submit</button>
</sl-form>

<button id="patch-simply" (click)="patchSimplyForm()">Patch value</button>

<sl-form [data]="dynamicForm" (submit)="logFormData($event)">
    <div *ngFor="let control of dynamicForm.controls; index as i">
        <sl-input
            *ngFor="let item of control.get('items').controls; index as j"
            [name]="[i, 'items', j]"
        ></sl-input>

        <sl-checkbox [name]="[i, 'selected']" value="selected">
            Checkbox
        </sl-checkbox>
    </div>

    <button type="submit" id="dynamic">Submit</button>
</sl-form>

<button id="fill-dynamic-form" (click)="fillDynamicForm()">
    Fill dynamic form
</button>

<button id="change-dynamic-form" (click)="changeDynamicForm()">
    Change dynamic form
</button>
