<sl-form [form]="form" (onSubmit)="onSubmit()">
    <sl-input name="name" value="text" label="Name"></sl-input>
    <br />
    <sl-select name="favorite" label="Select your favorite">
        <sl-menu-item value="birds">Birds</sl-menu-item>
        <sl-menu-item value="cats">Cats</sl-menu-item>
        <sl-menu-item value="dogs">Dogs</sl-menu-item>
    </sl-select>
    <br />
    <sl-checkbox name="agree" value="yes"> I totally agree </sl-checkbox>
    <br /><br />
    <sl-button (click)="patchForm()">Patch value</sl-button>
    <sl-button submit>Submit</sl-button>
</sl-form>
