:host {
    display: flex;
    min-height: 100vh;
}

sl-menu {
    max-width: 256px;
    border-right: 1px solid var(--sl-color-gray-300);
    background-color: var(--sl-color-primary-50);
}

sl-menu-item {
    margin-bottom: var(--sl-spacing-x-small);
}

sl-menu-item::part(base) {
    color: var(--sl-color-gray-700);
    white-space: initial;
}

sl-menu-item::part(base):hover {
    background-color: var(--sl-color-primary-200);
}

sl-menu-item._active::part(base) {
    color: var(--sl-color-white);
    background-color: var(--sl-color-primary-500);
}

.content {
    flex: 1;
    max-width: 860px;
    margin: var(--sl-spacing-large) auto;
    padding: 0 var(--sl-spacing-medium);
}
