<button id="test1" (click)="test = 1">Test 1</button>
<button id="test2" (click)="test = 2">Test 2</button>

<ng-container [ngSwitch]="test">
    <sl-animation
        *ngSwitchCase="1"
        name="bounce"
        duration="50"
        play
        (start)="log($event)"
        (finish)="log($event)"
    >
        <div>Animation</div>
    </sl-animation>

    <sl-animation
        *ngSwitchCase="2"
        name="bounce"
        duration="2000"
        play
        (start)="cancelAnimation($event)"
        (cancel)="log($event)"
    >
        <div>Animation</div>
    </sl-animation>
</ng-container>
