<sl-form [formGroup]="form" (onSubmit)="onSubmit()">
    <sl-checkbox formControlName="checkbox"></sl-checkbox>
    <br />
    <sl-checkbox
        class="with-value"
        formControlName="checkboxWithValue"
        value="checked"
    ></sl-checkbox>
    <br />
    <sl-color-picker [formControl]="form.get('colorPicker')"></sl-color-picker>
    <br />
    <sl-input [formControl]="form.get('input')"></sl-input>
    <br />
    <sl-radio formControlName="radio" value="radio-1"></sl-radio>
    <sl-radio formControlName="radio" value="radio-2"></sl-radio>
    <br />
    <sl-range formControlName="range" value="10"></sl-range>
    <br />
    <sl-rating formControlName="rating"></sl-rating>
    <br />
    <sl-select formControlName="select">
        <sl-menu-item value="option-1">Option 1</sl-menu-item>
        <sl-menu-item value="option-2">Option 2</sl-menu-item>
    </sl-select>
    <br />
    <sl-switch formControlName="switch"></sl-switch>
    <br />
    <sl-switch
        class="with-value"
        formControlName="switchWithValue"
        value="switched"
    ></sl-switch>
    <br />
    <sl-textarea formControlName="textarea"></sl-textarea>
    <br />
    <br />
    <sl-button submit>Submit</sl-button>
</sl-form>
